{% block content %}

    {% if variety.id is None %}
        <h1>Add variety:</h1>
    {% else %}
        <h1>Update variety info</h1>
    {% endif %}

    {% if variety.id is not None %}
        <form action="{% url 'icecreamapp:variety' variety.id %}" method="post">
    {% else %}
        <form action="{% url 'icecreamapp:varieties' %}" method="post">
    {% endif %}

        {% csrf_token %}
        <fieldset>
            <label for="name">Name: </label>
            {% if variety.id is not None %}
                <label>{{ variety.name }}</label>
            {% else %}
                <input id="name" type="text" name="name" value="{{ variety.name }} ">
            {% endif %}
        </fieldset>
        <fieldset>
            <label for="country_of_origin">Country of Origin: </label>
            <input id="country_of_origin" type="text" name="country_of_origin" value="{{ variety.country_of_origin }}">
        </fieldset>

        {% if variety.id is not None %}
            <input type="hidden" name="actual_method" value="PUT">
            <input type="submit" value="Update" />
        {% else %}
            <input type="submit" value="Create" />
        {% endif %}
    
{% endblock %}
